apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: openshift-image-registry-pvc
  namespace: openshift-image-registry
spec:
  accessModes:
    - "{{ ocp_image_registry_storage_mode }}"
{%- if ocp_image_registry_ha|default(true) %}
    - ReadWriteMany
{%- else %}
    - ReadWriteOnce
{%- end %}
{%- if ocp_image_registry_storage_class is defined and ocp_image_registry_storage_class|length %}
  storageClassName: {{ ocp_image_registry_storage_class }}
{%- end %}
  resources:
    requests:
      storage: 100Gi
